# Week4 - Lab

Take a look at this toy dataset. Perform the following operations

- Train-test split
- Train a linear regression model
- Evaluate/create residual plots
- Explain findings

In [57]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

data1 = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/regression/lab4_1.csv')
data2 = pd.read_csv('https://raw.githubusercontent.com/msaricaumbc/DS_data/master/ds602/regression/lab4_2.csv')

In [58]:
data1

    Unnamed: 0   X    y
0            0  50  147
1            1  82  246
2            2  66  207
3            3  35  105
4            4  81  240
..         ...  ..  ...
95          95  98  285
96          96   9   18
97          97  56  174
98          98  50  159
99          99  53  147

[100 rows x 3 columns]

In [60]:
X=data1.iloc[:,:-1].values
y=data1.iloc[:,1].values

In [61]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=.25,random_state=10)

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred=reg.predict(X_test)

In [64]:
print(reg.coef_)
print(reg.intercept_)

[-2.79932677e-17  1.00000000e+00]
-7.105427357601002e-15

In [13]:
from sklearn.linear_model import Ridge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
pipeline = make_pipeline(StandardScaler(), Ridge(alpha=100))
pipeline.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('ridge', Ridge(alpha=100))])

In [49]:
data2

    Unnamed: 0  X1 X2     y
0            0  50  B  2510
1            1  82  B  6738
2            2  66  B  4355
3            3  35  A  2225
4            4  81  A  7560
..         ...  .. ..   ...
95          95  98  B  9615
96          96   9  A  1066
97          97  56  A  4139
98          98  50  B  2502
99          99  53  A  3815

[100 rows x 4 columns]

In [50]:
from sklearn.preprocessing import StandardScaler
data=data2[['X1']]

data_scale=data.copy()
data_scale.fillna(0,inplace=True)

sc=StandardScaler()
data3=sc.fit_transform(data_scale)

In [51]:
dummies=pd.get_dummies(data2,columns=['X2'])
dummies1_scale=data.copy()
dummies1_scale.fillna(0,inplace=True)

sc1=StandardScaler()
data2=sc1.fit_transform(dummies1_scale)

In [52]:
X1=data3+data2

In [53]:
y1=data2[y]

In [54]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X1,y1,test_size=.25,random_state=10)

In [55]:
from sklearn.linear_model import LinearRegression

In [65]:
reg1=LinearRegression()
reg1.fit(X_train,y_train)
y_pred=reg.predict(X_test)

In [66]:
print(reg.coef_)
print(reg.intercept_)

[-2.79932677e-17  1.00000000e+00]
-7.105427357601002e-15

In [67]:
from sklearn.linear_model import Ridge
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
pipeline = make_pipeline(StandardScaler(), Ridge(alpha=100))
pipeline.fit(X_train, y_train)

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('ridge', Ridge(alpha=100))])